## C

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

##Eclipse

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/


## Pycharm/Flask

.DS_Store
.flaskenv
*.pyc
*.pyo
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover


## Jupyter Notebooks

MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/source/config.rst
docs/gh-pages
notebook/i18n/*/LC_MESSAGES/*.mo
notebook/i18n/*/LC_MESSAGES/nbjs.json
notebook/static/components
notebook/static/style/*.min.css*
notebook/static/*/js/built/
notebook/static/*/built/
notebook/static/built/
notebook/static/*/js/main.min.js*
notebook/static/lab/*bundle.js
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.pytest_cache

*.swp
*.map
.idea/
Read the Docs
config.rst
*.iml
.pydevproject

package-lock.json
geckodriver.log
*.iml

# jetbrains IDE stuff
*.iml
.idea/

# ms IDE stuff
*.code-workspace
.history
.vscode

livestreaming/overlays/web/venv

RemoteSystemsTempFiles/

Debug/
Release/

# CLion
cmake-build-*

## Electron

.DS_Store
.env
.gclient_done
**/.npmrc
.tags*
.vs/
.vscode/
/desktop_app/*.log
*.pyc
*.sln
*.swp
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
/desktop_app/.idea/
/desktop_app/dist/
/desktop_app/external_binaries/
/desktop_app/out/
/desktop_app/vendor/.gclient
/desktop_app/vendor/debian_jessie_mips64-sysroot/
/desktop_app/vendor/debian_stretch_amd64-sysroot/
/desktop_app/vendor/debian_stretch_arm-sysroot/
/desktop_app/vendor/debian_stretch_arm64-sysroot/
/desktop_app/vendor/debian_stretch_i386-sysroot/
/desktop_app/vendor/gcc-4.8.3-d197-n64-loongson/
/desktop_app/vendor/readme-gcc483-loongson.txt
/desktop_app/vendor/download/
/desktop_app/vendor/llvm-build/
/desktop_app/vendor/llvm/
/desktop_app/vendor/npm/
/desktop_app/vendor/python_26/
/desktop_app/vendor/native_mksnapshot
/desktop_app/vendor/LICENSES.chromium.html
/desktop_app/vendor/pyyaml
node_modules/
SHASUMS256.txt
**/package-lock.json
compile_commands.json
.envrc

# npm package
/desktop_app/npm/dist
/desktop_app/npm/path.txt

.npmrc

# Generated API definitions
electron-api.json
electron.d.ts

# Spec hash calculation
spec/.hash

# Eslint Cache
.eslintcache*

# Generated native addon files
/desktop_app/spec-main/fixtures/native-addon/echo/build/

# If someone runs tsc this is where stuff will end up
ts-gen

# Used to accelerate CI builds
.depshash
.depshash-target

# Used to accelerate builds after sync
patches/mtime-cache.json