name: Build

on:
  pull_request:
  push:
    branches: main

env:
  # CMake build type (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: arm-none-eabi-gcc
      uses: ryanwinter/arm-none-eabi-gcc@master
      with:
        release: '10.3-2021.10'
    
    - name: Install Ninja
      uses: seanmiddleditch/gha-setup-ninja@v3

    - name: Configure CMake
      working-directory: ./firmware
      run: cmake -B build -DCMAKE_MAKE_PROGRAM=ninja -G Ninja -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} 

    - name: Build
      working-directory: ./firmware
      run: cmake --build build
     
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        # Artifact name
        name: build
        path: ./firmware/build/**
        if-no-files-found: error
        retention-days: 90
        
      

